body {
					margin: 40px 10px;
					padding: 0;
					font-family: 'Quicksand', sans-serif;
                    font-family: 'Lato', sans-serif;
					font-size: 14px;
				}
					
				#loading {
					display: none;
					position: absolute;
					top: 10px;
					
				}

				#calendar {
					max-width: 850px;
					margin: 0 auto;
				}



					::-webkit-scrollbar {
				    width: 8px; height : 6px;  background: rgba(255, 255, 255, 0.1);
				}
				 
				::-webkit-scrollbar-track {
				  
				    border-radius: 10px; background :rgba(255, 255, 255, 0.1);
				}
				 
				::-webkit-scrollbar-thumb {
				    border-radius: 10px;
					background :#4B4B4B;
				   /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
				}
					::-webkit-scrollbar-thumb:window-inactive {
					background:#4B4B4B; 
				}
				::-webkit-scrollbar-corner {background:rgba(255, 255, 255, 0.1);}
						
						
						body::-webkit-scrollbar {
				 
				    background: rgba(255, 255, 255, 0.1);
				}
						
						body {
				  width: 100vw;
				  overflow-x: hidden;
				}


				/*이건 toggle 스타일*/

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

        -webkit-font-smoothing: subpixel-antialiased;

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -ms-user-select: none;

    -moz-user-select: none;

    user-select: none;
}

.widget {
    width: 288px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    background-color: transparent;

    &.active {
        
        .menu {
            width: 344px;

            .toggle {
                right: 296px;

                i {
                    width: 8px;
                    transition: width 400ms cubic-bezier(.6,0,.45,.99),
                                transform 1000ms cubic-bezier(.6,0,.45,.99) 300ms,
                                top 200ms cubic-bezier(.6,0,.45,.99) 200ms,
                                bottom 200ms cubic-bezier(.6,0,.45,.99) 200ms;
                                    
                    &:first-of-type {
                        top: 19px;
                        transform: rotate(45deg) translate(-1px, -2px);
                    }
                    
                    &:last-of-type {
                        bottom: 19px;
                        transform: rotate(-45deg) translate(-1px, 2px);
                    }
                }
            }

            .list {
                visibility: visible;
                flex-direction: row-reverse;

                li {
                    transform: scale(1);
                }
            }
        }
    }

    .menu {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 100px;
        background-color: #4C5042;
        transform: translate(28px, -50%);
        box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.7);
        transition: 650ms cubic-bezier(.79,0,.22,1);

        .toggle {
            width: 40px;
            height: 40px;
            right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            border-radius: 100px;
            cursor: pointer;
            z-index: 100;
            background-color: #4C5042;
            transition: 600ms cubic-bezier(.79,0,.22,1);

            &:hover {
                background-color: #3C4134;
            }
            
            i {
                width: 12px;
                height: 2px;
                position: absolute;
                display: flex;
                border-radius: 100px;
                background-color: #FFF;
                transition: width 400ms cubic-bezier(.6,0,.45,.99),
                            transform 600ms cubic-bezier(.6,0,.45,.99),
                            top 600ms cubic-bezier(.6,0,.45,.99) 600ms,
                            bottom 600ms cubic-bezier(.6,0,.45,.99) 600ms;
                
                &:first-of-type {
                    top: 16px;
                }
                
                &:last-of-type {
                    bottom: 16px;
                }
            }
        }

        .list {
            flex-direction: row;
            margin: 0;
            right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            position: absolute;

            li {
                width: 40px;
                height: 40px;
                margin-left: 8px;
                list-style: none;
                border-radius: 100px;
                background-color: #73776C;
                transform: scale(0);
                transition: 300ms cubic-bezier(.37,.01,.43,1.3);
                transition-delay: 300ms;
                  @for $i from 1 through 6{
                    &:nth-child(#{$i}){
                      transition-delay: $i * 50ms;
                    }
                  }
            }
        }
    }
}

.dribbble {
    position: fixed;
    display: block;
    right: 24px;
    bottom: 24px;
    
    img {
        display: block;
        width: 76px;
    }
}

/*toggle style은 우선 두고 드래그 색변경*/
::-moz-selection {
   background: #4b4b4b;
   color: #fff;
}
::selection {
   background: #4b4b4b;
   color: #fff;
}


button{

	font-family: 'Quicksand', sans-serif;
    outline: none;
}

.fc-day-header{
    color: #666;
    font-weight: normal;
}
.fc-day-header.fc-sun{

	color: #E54C4C;
}

.fc-day-header.fc-sat{

	

}
.fc-row .fc-widget-header{

	border: none;
	padding: 7px 0 7px 0;
}


.fc-day-top{

    color: #666;

}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number{
    font-size: 12px;
    float: left;
    padding: 0px;
    padding-top:2px; 
    padding-left: 4px;
    padding-bottom: 1px;
}

.fc-event{
    border: 0px solid white;
    background-color: transparent;
    padding: 1px;
    padding-left: 1px;
    text-align: left;
    margin-bottom: 0px;
    color: #4C4C4C;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;


}

.fc-center{
    color: #000;
}
.fc-button-primary{

    background-color: transparent;
    color:#666;

}

.fc-button-primary , h2{

    font-weight: normal;
}

.fc th{

    font-size: 12px;
}

.fc-toolbar .fc-header-toolbar{

    font-size: 12px;
}

/*오늘치색깔*/

.fc-unthemed td.fc-today{

    background:#F3F3F3;
}

.fc-button-group{

    outline: none;
}

.fc-button-group > .fc-button:not(:last-child){

    outline: none;

}

.fc-button-primary:disabled{

    color: #fff;
    background-color: #ddd;
    border-color: #ddd;
}

.fc-button-primary{

    border-color:#666;
    border-radius: 30px;
    border:none;
    text-orientation: none;
}


.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active{

    color: #666;
    background-color:transparent;
   
/*이거 폰트색깔뭐더라*/
}

.fc-prev-button .fc-button .fc-button-primary{

    outline: none;
}

.fc-today-button ,.fc-button {

    font-size: 12px;
}

.fc-button-primary{

    background-color: transparent;
    color: #666;
    outline: none;
}

/*좋아ㅛ어 가운데 정렬시작*/

.fc-center{

    display: inline-block;
    text-align: center;
    width: 160px;
   
   
    
}

.fc-prev-button{
   
    float: left;
   
    vertical-align: middle;

}


.fc-prev-button ,h2{

    float: center;
    
    vertical-align: middle;

    position: relative;
    right:25px;
}

.fc-next-button{

    float: right;
  
    vertical-align: middle;
    position: relative;
    bottom:27px;
}



.fc-today-button{
    float: center;

    vertical-align: middle;
    position: relative;
    left:4px;
    top:5px;
    }

   
/*이게평소 today*/
.fc-today-button.fc-button-primary:disabled {
   background-color: transparent;
    color: #666;
}

/*둘이 바꾸기>>*/


.fc-today-button.fc-button-primary:hover {
  

       color: #fff;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
}

.fc-right{

     position: relative;
    top:20px;

}

.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus{

    box-shadow:0 0 0 0;
}

.fc .fc-ltr .fc-unthemed{

    margin-left: 0;
    margin-right: 0;
}

/*다른곳갈때*/
   
/*.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{

    border-color:#d5d5d5;
}


border-left: transparent;
    border-right: transparent;
fc-dayGridMonth-button fc-button fc-button-primary fc-button-active


<div class="iFrame"><iframe src="https://yeonutoday.github.io/full-calenda-finished-custom/" style="border: 0" width="930" height="1400" scrolling="no">&#34;&gt;</iframe></div>scrolling="no">&#34;&gt;</iframe></div>
